.info {
  background: var(--hl-alt);
}

.rich-text a {
  color: var(--fg);
  border-bottom: 1px solid var(--fg);
  text-decoration: none;
}

.rich-text h3 {
  margin-bottom: var(--margin-02);
}

.rich-text hr {
  margin-top: var(--margin-04);
  margin-bottom: var(--margin-04);
}

.rich-text p {
  margin: 0;
}

.rich-text p:not(:last-child) {
  margin-bottom: var(--margin-02);
}
