header {
  width: 100%;
  text-align: center;
  margin-bottom: var(--margin-04);
}

header h1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

header svg {
  height: 22px;
}

header .wrapper.-box {
}

header .wrapper.-box:hover .arrows {
  color: var(--hl);
}

header .wrapper.-box:hover span.-active {
  color: var(--hl);
}

header svg,
header span:not(:last-child) {
  margin-right: var(--margin-04);
}

header button {
  width: 100%;
  display: block;
  padding: var(--margin-02);
}

header span {
  color: var(--fg);
  transition: color 0.2s ease;
}

header span.-active {
  color: var(--hl);
}

header .arrows {
  display: block;
  transition: all 0.2s ease;
  font-size: 1.5em;
}

header .arrows.-right {
  transform: scaleX(-1);
}
