@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans), sans-serif;
}

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAA1JREFUCNdjOACEQAAACQgBgeEHEZ0AAAAASUVORK5CYII=);
  background-size: auto;
  background-size: 2px 2px;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h3 {
  font-size: 1em;
  font-weight: bolder;
}

.-mono {
  font-family: var(--font-mono), mono;
}

.wrapper {
  max-width: var(--max-width);
  width: calc(100% - var(--margin-04));
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.2s ease;
}

.wrapper.-box {
  position: relative;
  background: var(--bg);
  border: 2px solid var(--fg);
  box-shadow: inset 1px 1px 0 0 #fff, 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.app {
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
  flex: 1 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  @media not all and (hover: hover) {
    height: 100%;
    min-height: 100%;
  }
}

section {
  padding: var(--margin-02);
}

section:not(:last-child) {
  border-bottom: 2px solid var(--fg);
}

input,
button {
  font-family: var(--font-mono), mono;
  border: none;
  background: transparent;
  color: var(--fg);
  padding: 0;
  font-size: 1em;
  transition: all 0.2s ease;
  cursor: pointer;
}
