footer {
  width: 100%;
  text-align: center;
  margin-top: var(--margin-04);
}

footer .wrapper {
  padding: var(--margin-02);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

footer *:not(:last-child) {
  margin-right: var(--margin-01);
}

footer a {
  display: inline-block;
  color: var(--fg);
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: bolder;
}

footer a:hover {
  color: var(--hl);
}

footer button {
  flex-flow: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

footer button.-active {
  color: var(--hl);
}
